<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        Hello,
        <br><br>

        ViewBag.Comment
        <br><br>

        Regards,<br>
        ViewBag.FullName


    </div>
</body>
</html>
