<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        Hello ViewBag.FirstName,
        <br><br>

        We have generated a new password for you

        <br><br>
        Password:ViewBag.TemporaryPassword
        <br><br>

        Regards,<br>
        Notes Marketplace

    </div>
</body>
</html>
