<!DOCTYPE html>
<html lang="en">

<head>
    <!--important meta tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">

    <!--Title-->
    <title>Notes Marketplace</title>

    <!--Basic Ceo-->
    <meta name="description" content="Creative Website Development with html5, css3. jquery &bootstrap frameworks">
    <meta name="keywords" content="HML5, CSS3, JQuery, Web Development, Responsive Website, Creative Website">

    <!--Facicon-->
    <link rel="shortcut icon" href="img/favicon/favicon.ico">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--Fontawesome-->
    <link rel="stylesheet" href="~/Content/css/font-awesome/css/font-awesome.min.css">
    <!--Bootstap CSS-->
    <link rel="stylesheet" href="~/Content/css/bootstarp/bootstrap.min.css">
    <!--Owl-Carousel Css-->
    <!--    <link rel="stylesheet" href="css/owl-carousel/owl.carousel.min.css">-->
    <!--    <link rel="stylesheet" href="css/owl-carousel/owl.theme.default.min.css">-->
    <!--Responsive-tabs-css-->
    <!--
    <link rel="stylesheet" href="css/responsive.css"

    <!--Magnific _popup css-->
    <!--    <link rel="stylesheet" href="css/magnific-popup/magnific-popup.min.css.css">-->
    <!--Animate Css-->
    <!--    <link rel="stylesheet" href="css/animate/animatee.min.css">-->
    <!--Custom CSS-->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <!--Responsive Css-->
    <link rel="stylesheet" href="~/Content/css/responsive.css">

</head>

<body>
    <!--Header-->
    <header id="header">
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="site-nav-wrapper">
                    <div class="navbar-header">
                        <!--Mobile Menu OpenButton-->
                        <span id="mobile-nav-open-btn">&#9776;</span>
                        <a class="navbar-brand" class="smooth-scroll" href="#home">
                            <img src="~/Content/images/pre-login/logo.png" id="imglogo" alt="logo" class="homepageimglogo">
                        </a>
                    </div>
                    <!--Main Menu-->
                    <div class="container">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav pull-right">
                                <li><a href="search.html" class="smooth-scroll">Search Notes</a></li>
                                <li><a href="#about" class="smooth-scroll">Sell You Notes</a></li>
                                <li><a href="#team" class="smooth-scroll">FAQs</a></li>
                                <li><a href="#contact" class="smooth-scroll">Contact Us</a></li>
                                <li><a href="#services" class="smooth-scroll"><button type="button" class="btn btn-primary" id="header-btn">LOGIN</button></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Mobile Menu-->
                    <div id="mobile-nav">
                        <span id="mobile-nav-close-btn">
                            &times;
                        </span>
                        <div id='mobile-nav-content'>
                            <ul class="nav">
                                <li><a href="search.html" class="smooth-scroll">Search Notes</a></li>
                                <li><a href="#about" class="smooth-scroll">Sell You Notes</a></li>
                                <li><a href="#team" class="smooth-scroll">FAQs</a></li>
                                <li><a href="#contact" class="smooth-scroll">Contact Us</a></li>
                                <li><a href="#services" class="smooth-scroll"><button type="button" class="btn btn-primary search-btn">LOGIN</button></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </nav>
    </header>
    <section id="home">
        <div class="content-box-lg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
                        <div id="bg-text">
                            <h1>
                                Download Free/Paid Notes
                                Or Sale Your Book
                            </h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis a optio voluptatibus nostrum iste explicabo nam dolores quae. Itaque culpa accusantium esse</p>
                            <button type="button" class="btn btn-primary home-learn-btn">LEARN MORE</button>
                        </div>
                    </div>
                    <div class="col-lg-6"></div>
                </div>
            </div>
        </div>

        <div id="home2">
            <div class="content-box-md">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div id="about-left">
                            <div class="horizontal-heading">
                                <h5>
                                    About<br>
                                    NotesMarketPlace
                                </h5>
                            </div>
                        </div>
                    </div>
                    <!--About right Side-->
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div id="about-right">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, enim, aspernatur? Dolor inventore, aut. Animi explicabo, aspernatur, ea asperiores harum repellat saepe doloremque fugiat soluta um repellat saepe doloremque fugiat soluta um repellat saepe doloremque fugiat soluta pariatur, libero veritatis non molestias!</p>
                            <p>
                                <br>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio illum, cumque omnis vel consequatur, suscipit minus, officia cupiditate nostrum, quae id voluptate nesciunt ex quaerat reiciendis beatae quas qui magnam.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-box-md upper text-center">
                <div class="container">
                    <div class="row">
                        <h3 class="text-center" id="head2">How It Works</h3>
                        <div class="row">
                            <div class="col-md-3 col-sm-12 col-xs-6"></div>
                            <div class="col-md-3 col-sm-12 col-xs-12 imgvalaxs">
                                <img src="~/Content/images/home/download.png" class="img-responsive">
                                <h5>
                                    Download Free/Paid Notes
                                </h5>
                                <p>
                                    Get Meterial for your<br> Course etc.
                                </p>
                                <button type="button" class="btn btn-primary home-download-btn">DOWNLOAD</button>
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12 imgvalaxs">
                                <img src="~/Content/images/home/seller.png">
                                <h5 id="sellertext">
                                    Seller
                                </h5>
                                <p>
                                    Upload and Download Course and Materials etc.
                                </p>
                                <button type="button" class="btn btn-primary home-sell-btn">SELL BOOK</button>
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="home3">
            <h2 class="text-center" id="cus">What Our Customers Are Saying</h2>
            <div class="content-box-md">
                <div class="row customers">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <img src="~/Content/images/home/customer-1.png" class="img-circle" align="left" />
                        <h2>
                            Ross Geller
                        </h2>
                        <p id="b-text">
                            Teacher, L.D.College
                        </p><br><br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dicta repellendus rerum architecto dolorum maiores pariatur magnam ratione porro, aperiam.
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <img src="~/Content/images/home/customer-2.png" class="img-circle" align="left" />
                        <h2>
                            Monika Geller
                        </h2>
                        <p id="b-text">
                            Employee, Friends snacks
                        </p><br><br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dicta repellendus rerum architecto dolorum maiores pariatur magnam ratione porro, aperiam.
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <img src="~/Content/images/home/customer-3.png" class="img-circle" align="left" />
                        <h2>
                            Phoebe Buffay
                        </h2>
                        <p id="b-text">
                            Founder & CEO ,Matrix Group
                        </p><br><br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dicta repellendus rerum architecto dolorum maiores pariatur magnam ratione porro, aperiam.
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <img src="~/Content/images/home/customer-4.png" class="img-circle" align="left" />
                        <h2>
                            Chandler Bing
                        </h2>
                        <p id="b-text">
                            SoftWare Engineer, IT Company
                        </p><br><br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dicta repellendus rerum architecto dolorum maiores pariatur magnam ratione porro, aperiam.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <footer>

            <div class="row">

                <div class="col-md-6 col-sm-6 col-xs-12 fone">
                    <p class="">
                        Copyright <i class="fa fa-copyright"></i> TatvaSoft all Rights Reserved.
                    </p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 ftwo">
                    <ul class="social-list">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>








    </section>












    <!--    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>-->
    <!--JQuery-->
    <script src="~/Content/js/jquery.js"></script>

    <!--Bootstarp JS-->
    <script src="~/Content/js/bootstrap/bootstrap.min.js"></script>
    <!--owl_carousel-JS-->

    <script src="~/Content/js/owl-carousel/owl.carousel.min.js"></script>

    <!-- Waypoints js-->
    <script src="~/Content/js/way-points/jquery.waypoints.min.js"></script>

    <!--Responsive Tabs js-->
    <script src="~/Content/js/responsive-tabs/jquery.responsiveTabs.min.js.js"></script>

    <!--Isotope JS-->
    <script src="~/Content/js/isotope/isotope.pkgd.min.js.js"></script>

    <!--magnific Popup js-->
    <script src="~/Content/js/magnific-popup/jquery.magnific-popup.min.js.js"></script>

    <!--CounterUp Js-->
    <script src="~/Content/js/CounterUp/jquery.counterup.min.js"></script>

    <!--GoogleMap Api-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCwVsbCjI-eltMHkaaeggcBUvP47aiqCo"></script>

    <!--Easing Js-->
    <script src="~/Content/js/easing/7.2%20jquery.easing.1.3.min.js.js"></script>

    <!--WowJS-->
    <script src='~/Content/js/wow/wow.min.js'></script>

    <!--Custom JS-->
    <script src="~/Content/js/script.js"></script>
</body>

</html>